---
layout: default
---
{% include navigation.html%}

<main class="engagements">

    <h1 class="title engagements__title center-text">Nos engagements</h1> 

    <section class="engagements__description">
        <h1 class="title engagements__description--title center-text">UNE ENTREPRISE, DES VALEURS </h1>
        <p class="container center-text ">
                Le bien-être de nos collaborateurs et la satisfaction de nos clients sont les principes qui guident nos actions. Notre engagement nous <br> permet ainsi de proposer des services écologiquement satisfaisants, socialement équitables et économiquement efficaces.   
        </p>

    </section>

    <section class="engagements__cards container spacer">
        <div class="engagements__card">
            <img  class="engagements__cardimage" src="./assets/images/BIEN-ETRE.png" alt="bien-être">
             <div class="spacer-2">
                 <span class="engagements__number">1</span>
                 <hr class="engagements__line">
             </div>
             <h2 class="title center-text">Bien-être au travail</h2>
            <p class="engagement__carddescription">
                    Nos collaborateurs étant la clé de notre succès, nous avons à cœur de valoriser et de développer leurs compétences tout en apportant une attention particulière à leur bien-être quotidien
                 
            </p>

            <ul>
                <li>Permettre le développement des compétences et les évolutions de carrière</li>
                <li>Œuvrer pour l'amélioration des conditions de travail et protéger la santé de nos collaborateurs</li>
                <li>Impliquer nos collaborateurs dans nos projets de développement durable et nos actions sociales</li>
            </ul>


        </div>

        <div class="engagements__card">
                <img  class="engagements__cardimage" src="./assets/images/123.png" alt="VALEURS">
                 <div class="spacer-2">
                     <span class="engagements__number">2</span>
                     <hr class="engagements__line">
                 </div>
                 <h2 class="title center-text">Offrir une valeur ajoutée</h2>
                <p class="engagement__carddescription">
                        Souhaitant agir positivement tant auprès de nos collaborateurs que de nos clients, nous mettons en place des actions cohérentes respectant les intérêts des parties prenantes pour apporter des solutions alternatives et innovantes. 
                     
                </p>
    
                <ul>
                    <li>Techniques de travail innovantes</li>
                    <li>Réactivité, proximité et échange avec nos clients</li>
                    <li>Collaborer avec nos parties prenantes dans un esprit partenarial gagnant-gagnant</li>
                </ul>
    
    
            </div>

            <div class="engagements__card">
                    <img  class="engagements__cardimage" src="./assets/images/PRESERVER.png" alt="VALEURS">
                     <div class="spacer-2">
                         <span class="engagements__number">3</span>
                         <hr class="engagements__line">
                     </div>
                     <h2 class="title center-text">Préserver le patrimoine</h2>
                    <p class="engagement__carddescription">
                            Depuis plusieurs années, nous avons développé des techniques de travail écologiquement responsables. Notre matériel, nos produits et nos méthodes sont sélectionnés selon leur qualité, mais également selon leur impact environnemental.
                         
                    </p>
        
                    <ul>
                        <li>Mettre en place des techniques respectueuses de l'environnement </li>
                        <li>Supprimer l’utilisation de produits nocifs</li>
                        <li>    Réduire notre consommation d’eau et d’énergie

                            </li>
                    </ul>
        
        
                </div>

    </section>

    <section class="expertise__areas container spacer">
        <img class="expertise__image" src="./assets/images/slide3.jpeg" alt="work">
        <img class="expertise__image" src="./assets/images/slide2.jpeg" alt="work">
        <img class="expertise__image" src="./assets/images/slide5.jpeg" alt="work">

    </section>

    <section class="engagements_areas container spacer">
        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/contrat.png" alt="contrat">
            <p class="engagement__description">Devis Precis</p>

        </div>
        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/deplacement.png" alt="displacement">
            <p class="engagement__description">Déplacement</p>

        </div>
        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/deplacement.png" alt="experience">
            <p class="engagement__description">Expérience</p>

        </div>
        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/experience.png" alt="compétences">
            <p class="engagement__description">Compétences</p>

        </div>

        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/ponctualité.png" alt="ponctualité">
            <p class="engagement__description">Rapidité</p>

        </div>

        <div class="engagemetarea">
            <img class="engagement__image" src="./assets/images/telephone.png" alt="telephone">
            <p class="engagement__description">Disponibilité</p>

        </div>

        

    </section>
    <section class="container engagements__quote spacer">
        <img class="engagementquote__image" src="./assets/images/engagement-associatif-la-rationnelle.jpg" alt="engagement">
        <div class="engagements__quotedescription">
            <h1 class="title container"> Agir pour un monde meilleur </h1>
            <p class="container">
                    Dans un monde où l’individualisme devient de plus en plus présent, nous n’oublions pas que l’unification des Hommes est une force. Ainsi, nous essayons de faire notre maximum pour contribuer à l’amélioration des conditions de vie des personnes dans le besoin en soutenant l’association AIR dans leurs projets caritatifs.
            </p>
        </div>
    </section>
    
</main>

{% include footer.html%}