---
layout: default
---

{% include navigation.html%}

<main>
    <section  class="expertise">
            <h1 class="expertise__title title center-text">
                    Nos domaines d’expertises
                </h1>

                <div class="expertise__section container">
                    <p class="expertise__description">
                            Notre connaissance du terrain et notre maîtrise du métier nous a mené à nous spécialiser en créant des pôles dédiés aux besoins spécifiques de nos clients.
                    </p>

                    <p class="expertise__number center-text">
                        8
                    </p>
                    <h3 class="expertise__number--title title center-text">Années d'expérience</h3>
                </div>

                <div class="expertise__areas container spacer">
                    <div>
                        <h2 class="title center-text">Habitat Social et intermedire</h2>
                        <img class="expertise__image"  src="./assets/images/habitat.jpg" alt="habitat" >
                    </div>

                    <div>
                        <h2 class="title center-text">Copropritete</h2>
                        <img class="expertise__image" src="./assets/images/copro.png" alt="Copropritete" >
                    </div>

                    <div>
                        <h2 class="title center-text">Tertiare</h2>
                        <img class="expertise__image" src="./assets/images/tertire.jpg" alt="Tertiare" >
                    </div>
                </div>

    </section>

    <section class="">
        <h1 class="title center-text spacer expertise__vision" >Notre vision du service nous a également menée à mettre en place des départements composés d’agents experts dans les prestations spécifiques de nettoyage.</h1>

        <div class="expertise__vision--flex spacer">
            <img class="vision__image" src="./assets/images/vision1.jpg" alt="vision" >
            <img class="vision__image" src="./assets/images/vision2.jpg" alt="vision" >

        </div>
    </section>
<section class="partners">

    <h1 class="title center-text spacer">Ils nous font confiance</h1>
    <div class="partners__images container" >
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/CGI.webp" alt="cgi" >
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/CNOPS (1).webp" alt="CNOPS" >
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/ONCF__yak_maroc_annuaire_des_entreprises.webp" alt="ONCF" >
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/ONICL.webp" alt="ONICL" >
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/Onep_jpg.webp" alt="Onep">
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/logo-3-1.webp" alt="KACEM">
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/tresorerie-generale-du-royaume-maroc-log.webp" alt="tresorerie-generale">
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/téléchargement.webp" alt="téléchargement">
        <img class="partner__image animated  fadeInRight delay-2s" src="./assets/images/partners/websize.webp" alt="maroc telecom">

    </div>
</section>

   
</main>

{% include footer.html %}