---
layout: default
---

{% include navigation.html %}
<main>
  <section class="header__section"> <!--begin header-->
<h2 class="header__title container">DES PROFESSIONNELS AU SERVICE DE LA PROPRETÉ</h2>
<p class="header__description--primary center-text">
partout au Maroc
</p>
<p class="header__description--primary center-text">
Copropriété | Habitat Social | Tertiaire
</p> 
  </section> <!--end header-->

  <section class="link__toservice">  <!--egin link-->
     <h3 class="link__title center-text"> <a href="#">Consultez nos differentes presentations</a> <span class="link__arrow">&#62;</span> </h3>
  </section> <!--end link-->

  <section class="professional">  <!--begin professional-->
<div class="professional__experience container">
<h3 class="prof title spacer">Des professionnels au service <br> de la propreté</h3>
<ol>
  <li class="professional__description spacer">
    <div class="professional__detail ">
    <h3 class="professional__title">Experience</h3>
    <p>
Depuis sa création en 1998, sogesmi net a su allier un savoir-faire solide et une relation client engagée lui
permettant aujourd’hui de figurer parmi les sociétés de nettoyage les plus importantes du Maroc.
    </p>
</div>
  </li>

  <li class="professional__description spacer">
<div class="professional__detail ">
<h3 class="professional__title">Satisfaction et confiance</h3>
  <p>
Sogesmi net a construit sa réussite sur une collaboration ouverte, honnête et constructive. Nous pensons qu’une
relation de <strong>proximité et d’échange durable </strong> nous permettra de créer ensemble des solutions adaptées répondant à vos
besoins.
  </p>
</div>
  </li>

  <li class= "professional__description spacer">
<div class="professional__detail ">
<h3 class="professional__title">Qualité</h3>
  <p>
La qualité de nos prestations a fait notre réputation. Notre démarche d’amélioration continue pousse notre entreprise à
constamment améliorer <strong>ses services en se diversifiant </strong> et en proposant des méthodes de travail novatrices.

  </p>
</div>
  </li>
</ol>
</div>
<div class="quote container">
  <div>
<img class="quote__image" src="./assets/images/slide2.jpeg" alt="quote__image">
  </div>

  <div class="quote__description">
<blockquote class="blockquote">
"La propreté est un luxe à la portée de tout le monde"
</blockquote>
<h5 class="quote__by">


- Diane de Beausacq
</h5>
  </div>
</div>
  </section>  <!--end professional-->

  <section class="statistics">  <!--begin statistics-->
<h2 class="statistics__maintitle title spacer container ">Forts de nos 8 ans d’expérience, notre réactivité et notre dynamisme nous permettent d’être implantés dans toute
  la région parisienne.</h2>

  <div class="statistics__detail container">
    
    <div class="flex__item ">
    <img class="statistics__image" src="./assets/images/COLLABORATEURS.png" alt="COLLABORATEURS">
   
    <div class="statistics__description">
       <h4 class="statistics__number">
        740
       </h4>
       <p class="statistics__title">
       Maison propes
       </p>
    </div>
  </div>

<div class="flex__item ">
  <img class="statistics__image" src="./assets/images/COLLABORATEURS.png" alt="COLLABORATEURS">

  <div class="statistics__description">
    <h4 class="statistics__number">
      342
    </h4>
    <p class="statistics__title">
Membres du personnel
    </p>
  </div>
</div>

<div class="flex__item ">
    <img class="statistics__image" src="./assets/images/CLIENTS.png" alt="Clients">
   
    <div class="statistics__description">
       <h4 class="statistics__number">
         850
       </h4>
       <p class="statistics__title">
        Clients heureux
       </p>
    </div>
  </div>

<div class="flex__item ">
  <img class="statistics__image" src="./assets/images/SITES-1.png" alt="sites">

  <div class="statistics__description">
    <h4 class="statistics__number">
      8
    </h4>
    <p class="statistics__title">
      Annees d'activites
    </p>
  </div>
</div>


  
  </div>

  </section>  <!--end statistics-->
  <section class="president__message spacer"> <!--begin president message-->
    <img class="container" src="./assets/images/president.png" alt="prsident">
    <div class="president__description container">
      <h3 class="president__title">
      LE MOT DU PRÉSIDENT
      </h3>
 
        <blockquote class="president__quote">
"SOGESMI NET s’est construite grâce aux compétences et à l’engagement de ses collaborateurs, mais également grâce à la
pertinence et la rigueur de notre management et de nos méthodes de travail. Nous veillons sans cesse à garantir un
niveau homogène et constant de qualité pour nos clients. C’est ainsi que nous avons su gagner et mériter leur
confiance."

        </blockquote>
   
    </div>
  </section> <!--end president message-->

  <section class="slogan"> <!--begin slogan-->
    
    <div class="card">
        
          <img class="card__image " src="./assets/images/slide2.jpeg" alt="slogan">
           <div class="card__text ">
              <p class="flex-text">
                Presrever le partrimoine de demain
              </p>
            </div>   
          
    </div>

<div class="card">

  <img class="card__image " src="./assets/images/slide3.jpeg" alt="slogan">
  <div class="card__text ">
    <p class="flex-text">
      Valoriser le capital human
    </p>
  </div>

</div>

<div class="card">

  <img class="card__image " src="./assets/images/slide5.jpeg" alt="slogan">
  <div class="card__text ">
    <p class="flex-text">
      Presrever le partrimoine de demain
    </p>
  </div>

</div>
  </section>  <!--end slogan-->
  <section class="knowus"> <!-- begin know us more-->
<h2 class="knowus__title  center-text">
Vous souhaitez en savoir plus ? <br>
Contactez-nous dès maintenant !
</h2>

  <a href="http://" class="knowus__btn">Contactez-nous</a>
  </section>  <!--end know us more-->

</main>
{% include footer.html%}