---
layout: default
---

{% include navigation.html%}

<main continer>
     
    <section class="service__header container spacer">
              <img src="./assets/images/immeuble.jpg" alt="immeuble" >
            <h2 class="title">Nettoyage d’immeubles et de copropriétés </h2>
            <p>
                    SOGESMI NET intervient auprès de plusieurs dizaines d’immeubles et de copropriétés, basées sur Rabat et ses alentours, pour l’entretien de toutes les <br> composantes de vos parties communes :
            </p>

            <h2 class="title">Les couloirs de la copropriété</h2>
         <p>
                Les agents réalisent l’entretien régulier des parties communes de votre immeuble, qu’il s’agisse des sols, des escaliers, des vitres, des paliers…
         </p>

         <p>
                Du ramassage des détritus au passage de la serpillière en passant par le balai et l’aspirateur, tout est fait pour vous garantir des locaux propres et accueillants.
         </p>

         <h2 class="title">Le local à ordure de votre immeuble</h2>

         <p>
                Les techniciens de SOGESMI NET réalisent l’entretien régulier du local à ordures de votre copropriété : nettoyage du local, entrée/sortie des poubelles, remplacement des sacs…
         </p>

         <h2 class="title">Le jardin et le parking de l’immeuble</h2>

         <p>
                L’équipe propose également de prendre en charge l’entretien de vos espaces verts (tonte, taille, nettoyage, etc.) tout comme le nettoyage de vos parkings (ramassage des ordures, nettoyage, etc.).
         </p>

         <h2 class="title">Un besoin spécifique à votre immeuble ?</h2>

         <p>
                Soumettez votre besoin à l’agence de nettoyage par mail ou par téléphone, l’équipe l’étudiera et vous proposera une action répondant aux spécificités de votre immeuble.
         </p>


         

    </section>
</main>

{% include footer.html%}