---
layout: default
---
{% include navigation.html%}

<main class="container industry">

    <img src="./assets/images/mors.jpg" alt="" >
    <h2 class="title">Entretien des moquettes</h2>

    <p>
            Notre équipe propose d’entretenir votre moquette au travers d’un shampoing. Cela permettra d’enlever les taches présentent sur votre moquette, de la désinfecter et d’éradiquer d’éventuelles odeurs.
    </p>

    <h2 class="title">Entretien des sols en marbre et en pierre</h2>
    <p>
            Prestigieux, les revêtements en marbre et en pierre demandent un entretien spécifique pour garder sa pureté et sa beauté. L’équipe SOGESMI NET réalise la cristallisation de votre sol pour lui redonner son éclat et le protéger pour les semaines à venir.  
    </p>

    <h2 class="title">Entretien des sols plastiques</h2>
    <p>
            Pour tous vos revêtements de type ‘lino’, SOGESMI NET vous propose un service mêlant nettoyage et brillance de vos sols plastiques par l’intermédiaire d’un décapage et d’une métallisation.
    </p>

    <h2 class="title">Entretien des parquets</h2>

    <p>
            SOGESMI NET  vous propose une prestation ayant pour objectif de poncer et vitrifier votre parquet. Après l’intervention, votre sol sera embelli et protégé des agressions extérieures à l’instar de taches d’eau, de rayures…
    </p>

    <h2 class="title">Nettoyage des stores</h2>
    <p>
            Souvent difficile d’accès et pas simple à entretenir, vos stores sont prise en charge par une équipe d’experts. Pour cela, les techniciens réalisent un nettoyage complet de vos vitres et leurs contours.
    </p>
</main>

{%include footer.html%}