---
layout: default
---

{%include navigation.html%}
<main class="services">
    <section class="service__header container spacer ">
        <h2 class="service__header--title">
Les prestations d’entretien de locaux de la SOGESMI NET
        </h2>
  <p class="service__description  ">
Les agents d’entretien de la SOGESMI NET interviennent sur toute au Maroc dans les secteurs d’activités cités
ci-dessous. Entreprise de nettoyage globale, SOGESMI NET est capable d’intervenir sur tous les types de nettoyage, que
ce soit l’entretien d’une usine, d’une grande surface ou d’une copropriété.
  </p>
    </section>

    <section class="service__cards container">
        <div class="service__card">
<a href="nettoyenindustrial.html" class="service__card--title">Nettoyage industriel usine</a>
            <img class="service__card--image" src="./assets/images/usine.jpg" alt="" >
        </div>
<div class="service__card">
<a href="machine.html" class="service__card--title">Nettoyage Immeuble copropriété</a>
<img class="service__card--image" src="./assets/images/immeuble.jpg" alt="">
</div>

<div class="service__card">
<a href="surfaces.html" class="service__card--title">Nettoyage de grandes surfaces</a>
<img class="service__card--image" src="./assets/images/surface.jpg" alt="">
</div>
<div class="service__card">
<a href="vitres.html" class="service__card--title">Nettoyage de vitres </a>
<img class="service__card--image" src="./assets/images/vitre.jpg" alt="nettoyage">
</div>

<div class="service__card">
<a href="disinfection.html" class="service__card--title">Désinfection et dératisation de locaux</a>
<img class="service__card--image" src="./assets/images/disinfection.jpg" alt="disinfection">
</div>
<div class="service__card">
<a href="mors.html" class="service__card--title">Nettoyages spécifiques de revêtements de sols et murs</a>
<img class="service__card--image" src="./assets/images/mors.jpg" alt="mors">
</div>
        
    </section>
</main>

{% include footer.html%}