---
layout: default
---

{% include navigation.html%}

<main class="industry container">
    <h1 class="title">Nettoyage de grandes surfaces</h1>
    <p>
            Spécialisée dans le nettoyage de locaux de grandes tailles, l'équipe SOGESMI NET dispose d'une expertise dans le nettoyage de grandes surfaces, de magasins et de galeries marchandes.

    </p>

    <h1 class="title">Nettoyage intérieur des grandes surfaces et des magasins</h1>

<div class="flex__services">
    <div>
            <h2 class="title">Entretien des sols</h2>
            <p>
                    À l'aide de machines permettant un nettoyage et la protection des sols des magasins et des grandes surfaces, les techniciens SOGESMI NET proposent un service de nettoyage complet et régulier pour permettre à vos clients d'arpenter des allées propres et accueillantes.
            </p>
            <h2 class="title">Entretien des vitres</h2>
            <p>
                    Les agents d'entretien prennent également en charge l'entretien vitres de vos magasins. En effet, la société de nettoyage dispose d'équipes et de machines permettant le nettoyage parfait de vos vitres accessibles et inaccessibles.
            </p>

            <h2>Entretien des sanitaires, poubelles, etc.</h2>
            <p>
                    L'équipe veille également à garder vos espaces publics accueillant en nettoyage et remplaçant les poubelles ou en désinfectant vos sanitaires.
            </p>

    </div>

    <!-- <img src="./assets/images/surface.jpg" alt="surface" > -->

</div>
</main>

{% include footer.html%}