---
layout: default
---

{% include navigation.html%}

<main  class="industry">
     <img src="./assets/images/vitre.jpg"  alt="vitres">
    <h1 class="title">Nettoyage de vitres accessibles et inaccessibles</h1>
    <h2 class="title">Nettoyage de tous types de vitres</h2>
   <p>
        La société de nettoyage SOGESMI NET intervient auprès des particuliers et des professionnels pour l'entretien mensuel de leurs vitres.
   </p>

   <p>
        À l'aide de camion nacelles et d'une équipe de laveurs de vitres professionnels et qualifiés, la société SOGESMI NET réalise le nettoyage de toutes vos vitres qu'elles soient accessibles ou inaccessibles.
   </p>

   <p>
        Vitres de locaux privés (appartements, maisons...), de magasins (devanture par exemple) ou encore d'immeubles (bureaux ou copropriétés), l'agence de nettoyage vous propose un service performant quelque soit le niveau d'accessibilité des vitres !

   </p>
</main>

{%include footer.html%}