.footer{

 
    &__company{
        >a{
            display: block;
            color: $color-primary;
          
            padding-top: .5rem;
        }
    }

    &__description{
        color: $color-primary;
      
    }
}
.icons{
    display: flex;
   
    &__link{
        padding-left: 1rem;
    }
}
@include respond-to(tablet-small) {
 .footer{
     display: grid;
     grid-template-columns: 2fr 1fr 1fr 2fr;
     position: relative;
    top: 5rem;
 }
}