.footer{

    // position: fixed;
    // width: 100%;
    // height: 500px;
    &__company{
        >a{
            display: block;
            color: $color-primary;
            font-size: .8rem;
            padding-top: .5rem;
        }
    }

    &__description{
        color: $color-primary;
        font-size: .9rem;
    }
}
@include respond-to(tablet-small) {
 .footer{
     display: grid;
     grid-template-columns: 2fr 1fr 1fr 2fr;
 }
}