.header {
    display: flex;
    padding: 2rem 0 2rem 0;
}

.menu {
    width: 1.5rem;

    &__button {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.logo {
    margin-right: auto;

    &__image {
        width: 250px;
        padding-left: 3rem;
    }
}

.nav {
    display: none;
    transition: all ease .6s;


    > a {
        display: block;
        text-decoration: none;
        color: $color-primary;
        padding: 1rem;
        font-weight: bold;
    }
}

.active, link:hover {
    background: #ebf2f2;
    transition: all .3s ease-in-out;
}

@include respond-to(screen-large) {

    .logo__image{
        width: 450px;
    }
    .menu__button {
        display: none;
    }

    .nav {
        display: block;
        width: 90%;
        text-align: right;

        > a {
            display: inline-block;
            border-left: 2px solid #eeeeee73;
            font-size: 1.3rem;
            padding: 1.5rem;
        }
    }

    .flex__nav {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 2;
    background: white;
    width: 100%;
    top: 0;
    }
.header{
        padding: 0;
     }
}
