<footer class="footer container spacer">
    <div class="logo container">
        <img src="../assets/images/logo.jpeg" alt="" srcset="">
        <h3 class="footer__title title">
            Sogesminet assure à ses clients une qualité irréprochable.
        </h3>
        <p class="footer__description">
La satisfaction et la confiance de nos clients nous permettent aujourd’hui de compter plus de 342 membres présents sur
plusieurs sites et de nous situer parmi les plus importantes sociétés de nettoyage du Maroc.
        </p>
    </div>
    <div class="footer__company container">
        <h3 class="title footer__nav">L’entreprise</h3>
        <ul>
        <li class="list__icons"> Accueil</li>
        <li class="list__icons"> Prestations</li>
        <li class="list__icons">Domaines d'expertises</li>
        <li class="list__icons"> Engagements</li>
        <li class="list__icons"> Contact</li>
    </ul>
    </div>

    <div class="footer__company container">
        <h3 class="title footer__nav">Services</h3>
        <ul>
        <li class="list__icons"> Nettoyage Industriel usine</li>
        <li class="list__icons"> Nettoyage immeuble Copropriété</li>
        <li class="list__icons">Nettoyage de bureau</li>
        <li class="list__icons"> Nettoyage de vitre</li>
        <li class="list__icons"> Nettoyage grand surface</li>
        <li class="list__icons"> Desinfection/deratisation</li>
        <li class="list__icons"> Nettoyage de Jardin</li>
        <li class="list__icons"> Nettoyage specifeque</li>
        <li class="list__icons"> Parking et caves</li>
    </ul>

    </div>
    <div class="footer__company container">
        <h3 class="title footer__nav">Contact</h3>
        <p class="footer__company title">
1135 Hay,Massira 1 - Temara - Marco<br>
Tél : +212 37 56 10 39/037 56 13 08  <br>
Heure de fonctionnement <br>
Du Lundi au Vendredi : 8H – 18h
        </p>
        <div class="icons">
<a class="icons__link" href="https://www.linkedin.com/company/sogesmi-net/about/?viewAsMember=true"><img  src="../assets/images/linkedin.png"
        alt="linkedin"></a>
<a class="icons__link" href="https://www.facebook.com/Sogesminet/"><img src="../assets/images/facebook.png"  alt="facebbok" srcset=""></a>
    </div>
    
</div>
<p class="year"> &copy; <script>document.write(new Date().getFullYear())</script> Sogesmi net- Société de Travaux Divers à Temara. Tout droit réservés. </p>

</footer