<div class="flex__nav">
<header class="header"> <!--begin header-->
    <div class="logo">
 <a href="index.html">       
     <img class="logo__image" src="../assets/images/thelogo.png" alt="logo"></a>
    </div>

    <div class="menu">
<span class="menu__button" onclick="closenav()">&#9776</span>
    </div>
</header>  <!--end header-->

<nav class="nav" onclick="myFunction(event)">
    <a href="index.html" class="active">Accueil</a>
    <a href="services.html" class="link">Nos prestations</a>
    <a href="#" class="link">Nos domaines d'expertises</a>
    <a href="#" class="link" >Nos engagments</a>
    <a href="#" class="link">Contact</a>
</nav>
</div>
