.expertise{
  
    
    &__title{
        font-size: 2rem;
        font-weight: 700;
        background-image: url("/assets/images/Slider_Home.jpg");
        padding: 6rem;
        background-position: center;
        color: $color-white;
    }
    &__section{
        
        font-weight: bold;
        background: $color-grey;
        padding: 2rem;
        color: $color-primary;
    }

    &__number{
        font-size: 3rem;
        color: $color-primary;
    }

    &__image{
        display: block;
        margin: 0 auto;
        width: 450px;
        height: 350px;
        
    }

    &__vision{
        padding-top: 4rem;
        width: 70%;
        margin: 0 auto;
        
        
    }

   
}

.vision__image{
    width: 450px;
    height: 350px;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}

.partner__image{
    width: 200px;
    height: 200px;
    padding-top: 2rem;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;

}

@include respond-to("tablet-large"){
  
    .expertise{
        padding-top: 2rem;
      &__title{
          font-size: 2.5rem;
      }

      &__section{
          text-align: center;
          font-size: 2rem;
      }
      &__number{
    font-size: 8rem;
    margin-top: 0;
     &--title{
         margin-top: -7rem;
     }
      }

      &__description{
          width: 60%;
          margin: 0 auto;
      }
      &__areas{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
    }
    .expertise__vision--flex{
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .partners__images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    
    
    }

    .partners{
        position: relative;
        z-index: -1;
    }
}