.expertise{
    &__title{
        font-size: 2rem;
        font-weight: 700;
    }
    &__section{
        
        font-weight: bold;
        background: $color-grey;
        padding: 1rem;
        color: $color-primary;
    }

    &__number{
        font-size: 3rem;
        color: $color-primary;
    }

    &__image{
        display: block;
        margin: 0 auto;
        width: 450px;
        height: 350px;
    }
}

@include respond-to("tablet-large"){
    .expertise{
      &__title{
          font-size: 2.5rem;
      }

      &__section{
          text-align: center;
          font-size: 2rem;
      }
      &__number{
    font-size: 8rem;
      }

      &__areas{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
    }
}