.header__section{
   color: $color-white;
   background-image: url(/assets/images/header.jpg);
   height: 600px;
}

.header__title{
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
    padding-top: 8rem;
}

.header__description--primary{
    font-size: 1.5rem;
}

.link__toservice{
    background: $color-primary;
    &:hover{
        background: #145072;
    }
}

.prof{
    display: inline-block;
    margin-top: 0;
    padding-top: 2rem;
}

.link__title {
    color: $color-white;
    padding: 2rem 0;
    margin-top: 0;
    margin-bottom: 0;
>a{
    color: $color-white;
}
}

.link__arrow {

    display: none;
    font-size: 1.7rem;

    padding-left: 1rem;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    counter-increment: my-counter;
    display: flex;
   
   
    
    &::before{
        content: "" counter(my-counter);
        font-size: 1.5rem;
        border:1px solid #589f9e;
        color: #589f9e;
        border-radius: 100%;
        height: 35px;
        width: 35px;
        padding: 1rem;
        margin-right: 2rem;
    
        text-align: center;
        
    }
}
.professional{
    background: #f3f3f3;
    &__description{
        color:#8d8d8d;
        font-size: 1.2rem;
    }
}
.professional__title{
    margin-top: 0;
    
}
.professional__detail{

    width: 85%;

}
.quote__description{
    background:$color-primary;
    color: $color-white;
    text-align: center;
    padding: 3rem;
}

.quote__image{
    display: block;
}
.blockquote{
    font-size: 1.5rem;
    font-style: italic;
        display: block;
    
        margin-top: 0;
}

.statistics{
    &__image{
        width: 60px;
        height: 80px;
        padding-top: 4rem;
    }
   &__maintitle{
       font-weight: 400;
      
   }
    &__description{
        margin-left: 2rem;
    }

    &__number{
        font-size: 3rem;
        font-weight: 100;
        color: $color-primary;
    }

    &__title{
        margin-top: -4rem;
    }
}

.flex__item{
    display: flex;
    align-items: center;
    
}

.president{
  &__message {
      background: #f3f3f3;
      color: #8d8d8d;

  }

  &__title{
      color: $color-primary;
  }
  &__quote{
      font-style: italic;
      margin-bottom: 0;
      padding-bottom: 2rem;
    
  }
}

.card{
    position: relative;

    &__image{
        position: relative;
        display: block;
        width: 100%;
        

        
       
    }
    &__text{
        position: absolute;
        
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: 5rem;
        text-align: center;
        background: #2f3d556e;
        opacity: 0;
        transition: .5s;
        transform: translateY(10px);
        display: block;
        color: $color-white;
        font-size: 1.5rem;
       
     

        &:hover{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.flex__text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.knowus{
    background: $color-primary;
    color: $color-white;
    padding: 3.5rem;

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding-top: 2rem;

    }

    &__btn{
       
        font-size: 1.1rem;
        display: block;
        margin: 0 auto;
        width: 8rem;
        background: #465b80;
        padding: .5rem;
        border-radius: 5px;
        color: $color-white;

        &:hover{
            background: #526586;
           transition: all 0.4s ease 0s;
        }
        

    }
}
@include respond-to(tablet-large){
    .link__title{
        font-size: 2rem;
        font-weight: 100;
    }

    .professional{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .prof{
        font-size: 2rem;
    }

    .statistics__detail{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .statistics__maintitle{
         font-size:2rem;
    }
    
.president__message{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.president__title{
    font-size: 1.5rem;
}
.president__quote{
    margin-left: 0;
}
.slogan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}