
.service{

    &__card{
        padding-top: 2rem;
    }
&__header{
    width: 80%;
    &--title{
       
        color:$color-primary;
    }
}
&__description{
    color:$color-primary;
}
}

.service__card--title{
    color:$color-primary;
    display: inline-block;
    font-weight: bold;

}

.service__card--image{
    padding-top: 2rem;
}

@include respond-to(tablet-large){
    .industry{
        width: 70%;
        margin: 0 auto;
    }
    .service__cards{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4rem;
    }
    .service__card--image {
         height: 200px;
         width: 300px;
    }

    .flex__services{
        display: flex;
      justify-content: space-between;
    }
    .flex__gap{
        width:45%; 
    }

}