<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet"> 
    <link rel="stylesheet" href="../assets/styles/css/main.css">
    <script>
            UPLOADCARE_PUBLIC_KEY = '29429a6a5ac93e3ff6b2';
          
          </script>
          
          <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
</head>
<body>
    {{content}}

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <script>
        var typed = new Typed('#typed', {
          stringsElement: '#typed-strings',
          smartBackspace: true,
          typeSpeed: 100,
          backSpeed: 100,
        });
      </script>
</body>

<script src="../assets/scripts/main.js"></script>

</html>